@import url("/src/css/CardRegisterUser.css");
@import url("/src/css/CardRegisterGame.css");
@import url("/src/css/Home.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-principal: #171E27;
  --bg-white: #fff;
  --text-color-white: white;
  --text-color-black: black;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #151D27;
}



