* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-principal: #181d23;
  --text-color-white: white;
  --text-color-black: black;
}

body {
  font-family: "Fira Code", monospace;
  background-color: cadetblue;
}

.container-register, .container-header, .container-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  margin-top: 50px;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  background-color: aliceblue;
  border: 3px solid #003d80;
  border-radius: 15px;
  width: 500px;
  height: 60vh;
  padding: 7px;

}

.card label {
  font-weight: bold;
  display: block; 
  margin-top: 10px;
}

.card input, select{
  background-color: beige;
  width: 70%;
  padding: 10px;
  margin-top: 5px;
}

.card input[type="submit"]{
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  margin-top: 10px;
}

.card input[type="submit"]:hover {
  background-color: #0056b3;
}

.card input[type="submit"]:active {
  background-color: #003d80;
}

.card-footer {
  margin-top: 10px;
}

.card-footer a{
  margin: 5px;
  text-decoration: none;
}

/*Header Home*/

.container-nav {
  background-color: var(--bg-principal);
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.itens-nav {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  border-bottom: 2px solid #fff;
}

/**/
